body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}

/* for links, learn more and buy  */

.links ul li a {
  text-decoration: none;
}
.links a:hover {
  color: #1d1d1f;
}
.links a::after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 5px;
}

/* my homework start here */
* {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

.learn-more1 ul li a::after {
  font-family: "fontawesome";
  content: "\f105";
  padding-left: 10px;
}
.learn-more1 ul li {
  display: inline-block;
  padding: 10px;
}
.model16 {
  padding-top: 70px;
}

.mac-book {
  background-image: url("../images/home/macbook-pro.jpg");
  height: 580px;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fafafa;
}
.rightside-last {
  background-image: url("../images/home/new-ipad.jpg");
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
