body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}

/* header styling starts here */
.apple-header {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.apple-header a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}

/* for links, learn more and buy  */

.links ul li a {
  text-decoration: none;
}
.links a:hover {
  color: #1d1d1f;
}
.links a::after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 5px;
}
